<h1>All spots:</h1>
<ol>
<% @spots.each do |spot| %>
    <li><% if !spot.user_id %>
        Spot Available - <%=spot.level?%> - <a href="/spots/<%=spot.id%>/edit">Assign Spot</a>
                <% else %>
        Spot Taken 
        <% end %></li>
    <% end %>
    </ol>

    <img src="images/labled_bike_rack_small.jpg" alt="bike room">