<h2>All spots:</h2>
<ol>
<% @spots.each do |spot| %>
    <li><% if !spot.user_id %>
        Spot Available - <%=spot.level?%> 
                    <% if is_admin? %>
                        - <a href="/spots/<%=spot.id%>/edit">Assign Spot</a>
                    <% end %>
            <% else %>
        Spot Taken 
        <% if is_admin? %>
        - <a href="/users/<%=spot.user.id%>">See Spot Owner</a>
        - <a href="/spots/<%=spot.id%>/edit">Edit Spot</a>
    <% end %>
        <% end %></li>
    <% end %>
    </ol>

    <img src="images/labled_bike_rack.jpg" alt="bike room">