<% if flash.has?(:message) %>
<%= flash[:message] %> 
<% end %> 

<h2>Add a new bike.</h2>

<form  action="/bikes" method="post">
  <p>Model: <input type="text" name="bike[model]"></p>
  <p>Description: <input type="text" name="bike[description]"></p>
  <input type="submit" value="Add Bike">
</form>