
<h1> Welcome to the BikeRoom! </h1>

<a href = "/signup" class="btn btn-primary btn-lg btn-block">Sign Up</a>
<a href = "/login" class="btn btn-primary btn-lg btn-block">Log In</a>
<br>
<img src=”./” alt="bike room">